@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>Hey, I did something here</p>

<h1>Hey, I made a bunch of changes</h1>

<p>Massive changes.  Huge!</p>

<p>Hey, I've got some massive changes of my own</p>